{{ if eq .Type "block" }}
  <div class="math math-block">
    {{ with try (transform.ToMath .Inner (dict "displayMode" true)) }}
      {{ with .Err }}
        <pre class="math-raw">$${{ $.Inner }}$$</pre>
      {{ else }}
        {{ .Value }}
      {{ end }}
    {{ end }}
  </div>
{{ else }}
  <span class="math math-inline">
    {{ with try (transform.ToMath .Inner (dict "displayMode" false)) }}
      {{ with .Err }}
        <code class="math-raw">${{ $.Inner }}$</code>
      {{ else }}
        {{ .Value }}
      {{ end }}
    {{ end }}
  </span>
{{ end }}



